{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": 0,
    "global-require": 0,
    "no-unused-expressions": 0,
    "no-underscore-dangle": 0,
  },
  "globals": {
    "alert": false,
    "FormData": false,
    "Headers": false,
    "__DEV__": false,
    "path": false,
    "describe": false,
    "it": false
  }
}
